/* カレンダーhtmlのCSS */
td {
	width: 30px;
	text-align: right;
	border-left-style: solid;
	border-left-color: #999999;
}

.otherMonth {
	color: #999999;
	font-size: small;
}

.sun {
	color: #ff0000;
}

.sat {
	color: #0000ff;
}